
@{
    ViewBag.Title = "Home";
}
<html>
<head>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/StyleSheet1.css")
    @Scripts.Render("~/Scripts/jquery")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</head>
<body>
    @RenderBody()
</body>

</html>

