body {
         background: url( "https://upload.wikimedia.org/wikipedia/commons/f/f9/UniversityofMarylandLawSchool_08_11.jpg");
         margin:0;
}
#unihome{
    margin:0px;
}
#fix-footer{
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 135px;
    width: 100%;
    background: #1abc9c;
}
#reg{
    border-style: solid;
    margin-left:100px;

}