@Model WebAppUI.StudentController
<body>
    <div id="main">
        <h2>Welcome @ViewBag.username</h2>
        <h2> Your CreditHours are @ViewBag.credithours</h2>

    </div>
    @Html.Partial("navagation")



</body>